<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h2 class="text-center">Admin Girişi</h2>
        <form asp-action="Login" method="post" class="border p-4 shadow bg-light">
            <div class="mb-3">
                <label>Kullanıcı Adı</label>
                <input type="text" name="username" class="form-control" required />
            </div>
            <div class="mb-3">
                <label>Şifre</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            @if(ViewBag.Error != null){ <div class="text-danger mb-2">@ViewBag.Error</div> }
            <button type="submit" class="btn btn-success w-100">Giriş Yap</button>
        </form>
    </div>
</div>