<div class="text-center mt-5">
    <img src="https://upload.wikimedia.org/wikipedia/en/d/d3/Starbucks_Corporation_Logo_2011.svg" width="150" class="mb-4">
    <h1 class="display-4" style="color: #1E3932; font-weight: bold;">Hoş Geldiniz</h1>
    <p class="lead">Gününüzü güzelleştirecek bir kahveye ne dersiniz?</p>
    
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h3 class="card-title">Sipariş Ver</h3>
                    <p>Hemen menüye göz at ve favori kahveni seç.</p>
                    <a href="/Menu" class="btn btn-success btn-lg w-100" style="background-color: #00704A;">Menüye Git</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h3 class="card-title">Yönetici Paneli</h3>
                    <p>Ürünleri ekle, sil veya fiyatları güncelle.</p>
                    <a href="/Account/Login" class="btn btn-dark btn-lg w-100">Admin Girişi</a>
                </div>
            </div>
        </div>
    </div>
</div>